body{
    background: #AECEF2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    color: #CC5500;
}

/* For text inside the table */
ul li {
    font-size: 14px;
}

input.numeric {
    width: 5em;
}

/*For tab configuration*/
.tabs {
    position: relative;
    min-height: 400px;
    min-width: 650px;
    width: 100%;
    clear: both;
}

.tab {
    float: left;
}

.tab label {
    background: #6FA8E8; 
    padding: 12px; 
    border: 1px solid #1779E8; 
    margin-left: -1px; 
    position: relative;
    left: 1px;
    top: 2px;
}

.tab [type=radio] {
    display: none;   
}

.content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    display: table;
    padding: 15px 0px 15px 15px;
    margin-bottom: 15px;
    border: 1px solid #1779E8;
    clear: both;
    width: 99%;
}

[type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
    z-index: 1;
}

[type=radio]:not(:checked) ~ label ~ .content {
    display: none;
}

/* For popup */
.popup {
    display: none;
}