body{
    min-width: 150px;
    min-height: 100px;
}
button.listToAddOrRemove{
    margin-bottom: 4px;
    display:none;
    text-decoration:none; 
    text-align:center; 
    padding:5px 5px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px; 
    border-radius: 5px; 
    font:12px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#20a8d6; 
    background-image: -moz-linear-gradient(top, #20a8d6 0%, #1982A5 100%); 
    background-image: -webkit-linear-gradient(top, #20a8d6 0%, #1982A5 100%); 
    background-image: -o-linear-gradient(top, #20a8d6 0%, #1982A5 100%); 
    background-image: -ms-linear-gradient(top, #20a8d6 0% ,#1982A5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
    background-image: linear-gradient(top, #20a8d6 0% ,#1982A5 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

button.listToAddOrRemove:hover{
    padding:5px 5px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px; 
    border-radius: 5px; 
    font:12px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#20a8d6; 
    background-image: -moz-linear-gradient(top, #20a8d6 0%, #1982A5 100%); 
    background-image: -webkit-linear-gradient(top, #20a8d6 0%, #1982A5 100%); 
    background-image: -o-linear-gradient(top, #20a8d6 0%, #1982A5 100%); 
    background-image: -ms-linear-gradient(top, #20a8d6 0% ,#1982A5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
    background-image: linear-gradient(top, #20a8d6 0% ,#1982A5 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

button.listToAddOrRemove:active{
    padding:5px 5px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px; 
    border-radius: 5px; 
    font:12px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#20a8d6; 
    background-image: -moz-linear-gradient(top, #20a8d6 0%, #1982A5 100%); 
    background-image: -webkit-linear-gradient(top, #20a8d6 0%, #1982A5 100%); 
    background-image: -o-linear-gradient(top, #20a8d6 0%, #1982A5 100%); 
    background-image: -ms-linear-gradient(top, #20a8d6 0% ,#1982A5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
    background-image: linear-gradient(top, #20a8d6 0% ,#1982A5 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

button#clearAllCookies{
    text-decoration:none; 
    text-align:center; 
    padding:5px 5px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px; 
    border-radius: 5px; 
    font:12px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#d62020; 
    background-image: -moz-linear-gradient(top, #d62020 0%, #a51919 100%); 
    background-image: -webkit-linear-gradient(top, #d62020 0%, #a51919 100%); 
    background-image: -o-linear-gradient(top, #d62020 0%, #a51919 100%); 
    background-image: -ms-linear-gradient(top, #d62020 0% ,#a51919 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51919', endColorstr='#a51919',GradientType=0 ); 
    background-image: linear-gradient(top, #d62020 0% ,#a51919 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}

button#clearAllCookies:hover{
    padding:5px 5px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px; 
    border-radius: 5px; 
    font:12px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#d62020; 
    background-image: -moz-linear-gradient(top, #d62020 0%, #a51919 100%); 
    background-image: -webkit-linear-gradient(top, #d62020 0%, #a51919 100%); 
    background-image: -o-linear-gradient(top, #d62020 0%, #a51919 100%); 
    background-image: -ms-linear-gradient(top, #d62020 0% ,#a51919 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51919', endColorstr='#a51919',GradientType=0 ); 
    background-image: linear-gradient(top, #d62020 0% ,#a51919 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
 
button#clearAllCookies:active{
    padding:5px 5px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:5px;
    -moz-border-radius:5px; 
    border-radius: 5px; 
    font:12px Arial, Helvetica, sans-serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#f03e3e; 
    background-image: -moz-linear-gradient(top, #f03e3e 0%, #b01a1a 100%); 
    background-image: -webkit-linear-gradient(top, #f03e3e 0%, #b01a1a 100%); 
    background-image: -o-linear-gradient(top, #f03e3e 0%, #b01a1a 100%); 
    background-image: -ms-linear-gradient(top, #f03e3e 0% ,#b01a1a 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b01a1a', endColorstr='#b01a1a',GradientType=0 ); 
    background-image: linear-gradient(top, #f03e3e 0% ,#b01a1a 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}